{% set control_type = None %}
{% if control.__class__.__name__ == 'dict' %}
    {% set control_type = control['type'] %}
{% else %}
    {% set control_type = control.instance.type.name %}
{% endif %}
{% if control_type == 'EditCtrl' %}
    <label for="control_{{control.attributes['target'] | lower}}">{{control.name}}</label>
    {% if control.attributes['source'] == 'view' %}
        {% if control.attributes['target'] == 'name' %}
            <input type="text" class="form-control" id="control_{{control.attributes['target'] | lower}}" name="{{control.attributes['target'] | lower}}" value="{{view['name']}}">
        {% else %}
            {{control}}
        {% endif %}
    {% else %}
        {% if item %}
            {% if control.attributes['target'] == 'name' %}
                <input type="text" class="form-control" id="control_{{control.attributes['target'] | lower}}" name="{{control.attributes['target'] | lower}}" value="{{item.name}}">
            {% else %}
                <input type="text" class="form-control" id="control_{{control.attributes['target'] | lower}}" name="{{control.attributes['target'] | lower}}" value="{{item.attributes[control.attributes['target']]}}">
            {% endif %} 
        {% else %}
            <input type="text" class="form-control" id="control_{{control.attributes['target'] | lower}}" name="{{control.attributes['target'] | lower}}">
        {% endif %}
    {% endif %}
{% elif control_type == 'HiddenCtrl' %}
    {% if control.attributes['source'] == 'control' %}
        <input type="hidden" id="control_{{control.attributes['target'] | lower}}" name="{{control.attributes['target'] | lower}}" value="{{control.attributes[control.attributes['target']]}}">
    {% elif control.attributes['source'] == 'form' %}
        <input type="hidden" id="control_{{control.attributes['target'] | lower}}" name="{{control.attributes['target'] | lower}}" value="{{form.attributes[control.attributes['target']]}}">
    {% elif control.attributes['source'] == 'view' %}
        {% if control.attributes['target'] == 'name' %}
            <input type="hidden" id="control_{{control.attributes['target'] | lower}}" name="{{control.attributes['target'] | lower}}" value="{{view['name']}}">
        {% elif control.attributes['target'] == 'type' %}
            <input type="hidden" id="control_{{control.attributes['target'] | lower}}" name="{{control.attributes['target'] | lower}}" value="{{view['type']}}">
        {% else %}
            {{control}}
        {% endif %}
    {% else %}
        {% if control.attributes['target'] == 'id' %}
            <input type="hidden" id="control_{{control.attributes['target'] | lower}}" name="{{control.attributes['target'] | lower}}" value="{{item.id}}">
        {% elif control.attributes['target'] == 'parent_id' %}
            <input type="hidden" id="control_{{control.attributes['target'] | lower}}" name="{{control.attributes['target'] | lower}}" value="{{item.id}}">
        {% elif control.attributes['target'] == 'name' %}
            <input type="hidden" id="control_{{control.attributes['target'] | lower}}" name="{{control.attributes['target'] | lower}}" value="{{item.name}}">
        {% elif control.attributes['value'] %}
            <input type="hidden" id="control_{{control.attributes['target'] | lower}}" name="{{control.attributes['target'] | lower}}" value="{{control.attributes['value']}}">
        {% else %}
            <input type="hidden" id="control_{{control.attributes['target'] | lower}}" name="{{control.attributes['target'] | lower}}" value="{{item.attributes[control.attributes['target']]}}">
        {% endif %}
    {% endif %}
{% elif control_type == 'MultiSelectCtrl' %}
    <label for="control_{{control.attributes['target'] | lower}}">{{control.name}}</label>
    <select class="form-control" id="control_{{control.attributes['target'] | lower}}" name="{{control.attributes['target'] | lower}}" multiple>
        {% if control.attributes['typenames'] %}
            {% for typename in typenames %}
                <option value="{{typename}}">{{typename}}</option>
            {% endfor %}
        {% else %}
            {% for opt in control.attributes['options'] %}
                <option value="{{opt}}">{{opt}}</option>
            {% endfor %}    
        {% endif %}
    </select>
{% elif control_type == 'TypeSelectCtrl' %}
    <label for="control_{{control.attributes['target'] | lower}}">{{control.name}}</label>
    <select class="form-control" id="control_{{control.attributes['target'] | lower}}" name="{{control.attributes['target'] | lower}}">
        {% if control.attributes['typenames'] %}
            {% for typename in control.attributes['typenames'] %}
                <option value="{{typename}}">{{typename}}</option>
            {% endfor %}
        {% elif all_types %}
        all types
            {% if control.attributes['types'] %}
                {% for typename in control.attributes['types'] %}
                {{typename}}
                    {% for type in all_types %}
                        {% if type.is_derived_from(typename) %}
                            {% if control.attributes['source'] == 'view' and type.name == view['type'] %}
                                <option value="{{type.name}}" selected>{{type.name}}</option>
                            {% else %}
                                <option value="{{type.name}}">{{type.name}}</option>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% else %}
                {% for type in all_types %}
                    {% if control.attributes['source'] == 'view' and type.name == view['type'] %}
                        <option value="{{type.name}}" selected>{{type.name}}</option>
                    {% else %}
                        <option value="{{type.name}}">{{type.name}}</option>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% elif typenames %}
            {% for typename in typenames %}
                <option value="{{typename}}">{{typename}}</option>
            {% endfor %}
        {% else %}
            {% for opt in control.attributes['options'] %}
                <option value="{{opt}}">{{opt}}</option>
            {% endfor %}    
        {% endif %}
    </select>
{% elif control_type == 'ButtonCtrl' %}
    {% if control.attributes['is_cancel_button'] == 'true' %}
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    {% else %}
        <button type="submit" class="btn btn-primary">{{form.attributes['submit_text']}}</button>
    {% endif %}
{% elif control_type == 'StepsCtrl' %}
    <div class="form-group">
    {% for step_control in control.attributes['controls'] %}
        {% if step_control.type != 'StepCtrl' %}
            {% with item=item, control=step_control %}
                {% include "control.html" %}
            {% endwith %}
        {% endif %}
    {% endfor %}
    </div>
    <div class="bs-stepper vertical">
        <div class="bs-stepper-header" role="tablist">
            {% set target_controls = [] %}
            {% for step_control in control.attributes['controls'] %}
                {% if step_control.type == 'StepCtrl' %}
                    {% set target_controls = target_controls + [step_control] %}
                    <div class="step" data-target="#step_{{step_control.name}}">
                        <button type="button" class="step-trigger" role="tab" aria-controls="step_{{step_control.name}}" id="trigger_{{step_control.name}}">
                            <span class="bs-stepper-circle">{{loop.index}}</span>
                            <span class="bs-stepper-label">{{step_control.name}}</span>
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
            {% for step_control in target_controls %}
                {% if step_control.type == 'StepCtrl' %}
                    {% set target_controls = target_controls + [step_control] %}
                    <div class="step" data-target="#step_{{step_control.name}}">
                        <button type="button" class="step-trigger" role="tab" aria-controls="step_{{step_control.name}}" id="trigger_{{step_control.name}}">
                            <span class="bs-stepper-circle">{{loop.index}}</span>
                            <span class="bs-stepper-label">{{step_control.name}}</span>
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="bs-stepper-content w-100">
            {% for step_control in control.attributes['controls'] %}
                {% if step_control.type == 'StepCtrl' %}
                    <div id="step_{{step_control.name}}" class="content w-100" role="tabpanel" aria-labelledby="trigger_{{step_control.name}}">
                        {% with item=item, control=step_control %}
                            {% include "control.html" %}
                        {% endwith %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div>
        <button class="btn btn-primary previous_button" type="button">Previous</button>
        <button class="btn btn-primary next_button" type="button">Next</button>
    </div>
{% elif control_type == 'StepCtrl' %}
    {% for control in control.attributes['controls'] %}
        <div class="form-group">
        {% with item=item, control=control %}
            {% include "control.html" %}
        {% endwith %}
        </div>
    {% endfor %}
{% else %}
    {{control.type}}
{% endif %}