{% extends "main.html" %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">{{app.name}}</a>
  <ul class="nav nav-tabs">
    {% for view in views %}
      {% if active_view_name and (view.name | lower) == active_view_name %}
      <li class="nav-item active">
        <a class="nav-link active" href="?view={{view.name | lower}}">{{view.name}}</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="?view={{view.name | lower}}">{{view.name}}</a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
  {% for view in views %}
    {% if active_view_name and (view.name | lower) == active_view_name %}
      {% with item=item, items=items %}
          {% include "view.html" %}
      {% endwith %}
    {% endif %}
  {% endfor %}
{% endblock %}
    