<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ app.name }}</title>
    {{ bootstrap.load_css() }}
    <style>
      .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
      }

      .material-icons {
        vertical-align: middle;
        line-height: 0 !important;
        position: relative;
        top: -1px;
      }
      .custom-file-input ~ .custom-file-label::after {
        content: "Choose file";
        background-color:#0072bc;
        color:white;
        position: absolute;
        top:38px;
        left: 0px;
      }
      .custom-file .custom-file-input {
        cursor: pointer;
        height:76px;
      }
      label.custom-file-label {
        border:0px;
      }
      .custom-file {
        max-width: 300px;
        margin-bottom:20px;
        margin-top:20px;
      }
      .after-hide::after {
        display: none;
      }

      table.table-fit {
          width: auto !important;
          table-layout: auto !important;
      }
      table.table-fit thead th, table.table-fit tfoot th {
          width: auto !important;
      }
      table.table-fit tbody td, table.table-fit tfoot td {
          width: auto !important;
      }
    </style>
    <link rel="stylesheet" href="{{url_for('static', filename='/font-awesome/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons">
    {{ bootstrap.load_js() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bs-stepper/dist/css/bs-stepper.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bs-stepper/dist/js/bs-stepper.min.js"></script>
</head>
<body>  

<!-- BeginRender world app -->
    
<!-- BeginBars -->
      <!-- BeginWorldBar -->
        
      <!-- EndWorldBar -->
      <!-- BeginAppsBar -->
  
      <!-- EndAppsBar -->
      <!-- BeginAccountBar -->
  
      <!-- EndAccountBar -->
    <!-- EndBars -->
    
    <!-- BeginViews -->
    <!-- EndViews -->
    
<!-- EndRender world app -->
<div class="container-fluid p-0">
  {% include "nav.html" %}
  <main role="main">
    <div class="container-fluid p-0">
      {% block content %}{% endblock %}
    </div>
  </main>
  {% if forms %}
    <input type="hidden" id="parent_id" name="parent_id" value="{{item.id}}">
    {% for form in forms %}
    <div class="modal fade itemform" id="form_{{form.name}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          {% if form.attributes['upload'] == 'true' %} 
            <form enctype="multipart/form-data" id="create" action="/{{form.attributes['path']}}" method="{{form.attributes['method']}}">
              <div class="modal-header">
                {% if form.attributes['edit'] == 'true' %} 
                  <h5 class="modal-title" id="exampleModalLabel">{{form.attributes['title_prefix']}} {{item.name}}</h5>
                {% elif form.attributes['type'] %} 
                  <h5 class="modal-title" id="exampleModalLabel">{{form.attributes['title_prefix']}} {{form.attributes['type']}}</h5>
                {% elif item %}
                  <h5 class="modal-title" id="exampleModalLabel">{{form.attributes['title_prefix']}} {{item.name}}</h5> 
                {% endif %}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {% if form.attributes['text'] %}
                <div>
                  {{form.attributes['text']}}
                </div>
                {% endif %}
                {% for control in form.items %}
                  {% with item=item, control=control, form=form %}
                    {% include "control.html" %}
                  {% endwith %}
                {% endfor %}
                <div class="form-group">
                  <div class="custom-file" id="customFile" lang="sr">
                    <input type="file" class="custom-file-input" id="file" aria-describedby="fileHelp" name="file">
                      <label class="custom-file-label" for="file">
                        File not selected...
                      </label>
                  </div>
                </div>
                <div class="progress" >
                  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:20%;">
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="create_cancel">Close</button>
                <button type="submit" class="btn btn-primary" id="create_submit">{{form.attributes['submit_text']}}</button>
                <button type="button" class="btn btn-primary" id="create_submitting" disabled>
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Uploading in progress...
                </button>
              </div>
            </form>
          {% else %} 
            <form action="/{{form.attributes['path']}}" method="{{form.attributes['method']}}">
              <div class="modal-header">
                {% if form.attributes['edit'] == 'true' %} 
                  <h5 class="modal-title" id="exampleModalLabel">{{form.attributes['title_prefix']}} <span id="title-name">{{item.name}}</span></h5>
                {% elif form.attributes['type'] %} 
                  <h5 class="modal-title" id="exampleModalLabel">{{form.attributes['title_prefix']}} <span id="title-name">{{form.attributes['type']}}</span></h5>
                {% elif item %}
                  <h5 class="modal-title" id="exampleModalLabel">{{form.attributes['title_prefix']}} <span id="title-name">{{item.name}}</span></h5> 
                {% endif %}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {% if form.attributes['text'] %}
                <div>
                  {{form.attributes['text']}}
                </div>
                {% endif %}
                {% for control in form.items %}
                  {% if not (control.instance.type and control.instance.type.name == 'ButtonCtrl') %}
                    {% with item=item, control=control, form=form %}
                      {% include "control.html" %}
                    {% endwith %}
                  {% endif %}
                {% endfor %}
              </div>
              <div class="modal-footer">
                {% for control in form.items %}
                  {% if control.instance.type and control.instance.type.name == 'ButtonCtrl' %}
                    {% with item=item, control=control, form=form %}
                      {% include "control.html" %}
                    {% endwith %}
                  {% endif %}
                {% endfor %}
              </div>
            </form>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
    {% if forms | length > 1 %}
      <div class="modal fade form" id="form_Add" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              
              <label for="control_type_select">Select Type:</label>
              <select class="form-control" id="control_type_select" name="control_type_select" multiple>
                {% for form in forms %}
                    <option value="{{form.name}}">{{form.attributes['type']}}</option>
                {% endfor %} 
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
      </div>
    {% endif %}
  {% endif %}
</div>
  {% if forms %}
    {% if forms | length > 1 %}
      <script>
        $(document).ready(function(){
          $('.form').on('change', (e) => {
            if (e.target.value) {
              form_id = 'form_' + e.target.value;
              //console.log(e);
              console.log(form_id);
              $('#form_Add').modal('hide');//hide();
              $("#" + form_id).modal('show');
            } 
          });
        
        }); 
      </script>
    {% else %}
    {% endif %}
    <script>
      var stepper = new Stepper($('.bs-stepper')[0]);
      $(document).ready(function () {
        $(".previous_button").on("click", function() {
          stepper.previous();
        });
        $(".next_button").on("click", function() {
          stepper.next();
        });
        
        
      });
      $(document).on('change', '#file', function(e) {
        //console.log(e);
        var nextSibling = e.target.nextElementSibling;
        if (e.target.files && e.target.files.length > 0) {
          nextSibling.innerText = e.target.files[0].name;
          //$('#create_submit').show();
          //$('#create_cancel').show();
          //$('#update_submit').show();
          //$('#update_cancel').show();
          $('.custom-file-label').addClass('after-hide');
          $('#create').submit();
        } else {
          nextSibling.innerText = '';
          e.target.value = '';
        }
        
      });
      $(document).ready(function(){
        $('.progress').hide();
        $('#create_submit').hide();
        $('#create_cancel').hide();
        $('#create_submitting').hide();
        $('#create').submit(function(){
            //$('#create_submit').hide();
            $('#create_submitting').show();
            $.getJSON({ 
                        url: $('#create').attr('action') + '/upload-url',
                        data: {
                          filename: $('#file')[0].files[0].name,
                          size: $('#file')[0].files[0].size,
                          parent_id: $('#parent_id').val(),
                          processing: 'true',
                          extracted: 'false'
                        },
                        success: function(result) {
                          console.log('getjson', result);
                          const formData = new FormData();
                          Object.keys(result['fields']).forEach(key => {
                            formData.append(key, result['fields'][key]);
                          });
                          formData.append('file', $('#file')[0].files[0]);
                          $('.progress').show();
                          $.ajax({
                            xhr: function() {
                                  var xhr = new window.XMLHttpRequest();
                                  xhr.upload.addEventListener("progress", function(evt) {
                                      console.log(evt);
                                      if (evt.lengthComputable) {
                                          var percentComplete = evt.loaded / evt.total;
                                          percentComplete = parseInt(percentComplete * 100);
                                          $('.progress-bar').css('width',percentComplete+"%");
                                          $('.progress-bar').html(percentComplete+"%");
                                          if (percentComplete === 100) {

                                      }
                                    }
                                  }, false);
                                  return xhr;
                                },
                            url: result['url'],
                            type: 'POST',
                            data : formData,
                            processData: false,
                            contentType: false,
                            success: function(result2){
                              console.log(result2);
                              $.ajax({
                                dataType: "json",
                                type: 'POST',
                                url: $('#create').attr('action') + '/upload-confirm',
                                data: JSON.stringify({
                                  item_id: result['fields']['key'], 
                                  filename: $('#file')[0].files[0].name, 
                                  size: $('#file')[0].files[0].size}),
                                contentType: "application/json; charset=utf-8",
                                success: function(result3) {
                                  window.location.href = '/items/'  + result['fields']['key'];
                                }
                              });
                            }
                          });
                        }
                      });
            
            return false;
        });
      }); 
    </script>
  {% endif %}
</body>
</html>