<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ app.name }}</title>
    {{ bootstrap.load_css() }}
    <style>
      .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
      }
      </style>
    <link rel="stylesheet" href="{{url_for('static', filename='/font-awesome/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons">
    {{ bootstrap.load_js() }}
</head>
<body>  

<!-- BeginRender world app -->
    
<!-- BeginBars -->
      <!-- BeginWorldBar -->
        
      <!-- EndWorldBar -->
      <!-- BeginAppsBar -->
  
      <!-- EndAppsBar -->
      <!-- BeginAccountBar -->
  
      <!-- EndAccountBar -->
    <!-- EndBars -->
    
    <!-- BeginViews -->
    <!-- EndViews -->
    
<!-- EndRender world app -->
<div class="container-fluid p-0">
  <header class="masthead mb-auto">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">REALNET</a>
      <button class="navbar-toggler" 
              type="button" 
              data-toggle="collapse" 
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% for app in apps %}
            {% if active_app_name == app.name | lower %}
            <li class="nav-item active">
              <a class="nav-link" href="/{{app.name | lower}}">{{app.name}}</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/{{app.name | lower}}">{{app.name}}</a>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
        <ul class="nav navbar-right">
          <li class="nav-item dropdown endpoint-inline my-2 my-lg-0">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{account.name}}@{{org.name}}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              {% for menu_item in menu.items %}
              <a class="dropdown-item" href="./views/{{menu_item.name}}"><i class="material-icons">{{menu_item.icon}}</i>{{menu_item.name}}</a>
              {% endfor %}
            </div>
          </li>
        </ul>
          <!--
          <form class="endpoint-inline my-2 my-lg-0" action="logout" method="post">
            <button type="submit" class="btn btn-outline-success">Logout</button>
          </form>
          -->
        </div>
    </nav>
  </header>
  <main role="main">
    <div class="container-fluid p-0">
      {% block content %}{% endblock %}
    </div>
  </main>
  {% if forms %}
    {% for form in forms %}
    <div class="modal fade itemform" id="form_{{form.name}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="{{form.attributes['path']}}" method="{{form.attributes['method']}}">
            <div class="modal-header">
              {% if form.attributes['edit'] == 'true' %} 
                <h5 class="modal-title" id="exampleModalLabel">{{form.attributes['title_prefix']}} {{item.name}}</h5>
              {% elif form.attributes['type'] %} 
                <h5 class="modal-title" id="exampleModalLabel">{{form.attributes['title_prefix']}} {{form.attributes['type']}}</h5>
              {% elif item %}
                <h5 class="modal-title" id="exampleModalLabel">{{form.attributes['title_prefix']}} {{item.name}}</h5> 
              {% endif %}
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              {% if form.attributes['text'] %}
              <div>
                {{form.attributes['text']}}
              </div>
              {% endif %}
              {% for control in form.items %}
                {% with item=item, control=control, form=form %}
                  {% include "control.html" %}
                {% endwith %}
              {% endfor %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">{{form.attributes['submit_text']}}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
    {% if forms | length > 1 %}
      <div class="modal fade form" id="form_Add" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              
              <label for="control_type_select">Select Type:</label>
              <select class="form-control" id="control_type_select" name="control_type_select" multiple>
                {% for form in forms %}
                    <option value="{{form.name}}">{{form.attributes['type']}}</option>
                {% endfor %} 
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
      </div>
    {% endif %}
  {% endif %}
</div>
  {% if forms %}
    {% if forms | length > 1 %}
      <script>
        $(document).ready(function(){
          $('.form').on('change', (e) => {
            if (e.target.value) {
              form_id = 'form_' + e.target.value;
              //console.log(e);
              console.log(form_id);
              $('#form_Add').modal('hide');//hide();
              $("#" + form_id).modal('show');
            } 
          });
          $("#form_Add").modal('show');
        
        }); 
      </script>
    {% else %}
    <script>
      $(document).ready(function(){
        $(".itemform").modal('show');
      }); 
    </script>
    {% endif %}
  {% endif %}
</body>
</html>